.box{
    background-color: rgb(197, 191, 191);
    width: 70%;
    height: 300px;
    margin-top: 20px;
   margin-left: 100px;
   border-radius: 10px;
   border: 1px solid black;
}

input{
    margin-left: 145px;
}


    
   
  

.add{
   display: flex;
justify-content: center;
 
}
h1{
 
    text-align: center;
    align-items: center;
    font-size: 15px;
}
