.btn{
    display: inline-block;
    border-radius: 60%; /* Isso cria a forma circular */
    background-color: #7397c6;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 600px;
    position: fixed;
    left: 0;
    top: 800px;
    
    
}